<div>
    <ng-container *ngIf="login">
        <span class="nav-link text-light">{{ user.username }}</span>
        <button mat-button class="neumorphic-button" (click)="logout()">
            <span>Logout</span>
        </button>
    </ng-container>

    <ng-container *ngIf="!login">
        <button mat-button class="neumorphic-button" routerLink="/register">
            <span>Register</span>
        </button>
        <button mat-button class="neumorphic-button" routerLink="/login">
            <span>Login</span>
        </button>
    </ng-container>
</div>
