<h2>Product Details</h2>

<div>
    <strong> Name</strong> : <i>{{model.name}}</i> 
</div>
<div>
    <strong> Brand</strong> : <i>{{model.brand}}</i> 
</div>
<div>
    <strong> Type</strong> : <i>{{model.type}}</i> 
</div>




<hr />
<h4 style="text-align:center; color:darkblue"><strong>Variant Details</strong></h4>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Color</th>
            <th>Specification</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let v of model.variants">
            <td>{{v.id}}</td>
            <td>{{v.color}}</td>
            <td>{{v.specification}}</td>
            <td>{{v.size}}</td>
        </tr>
    </tbody>
</table>
<div style="text-align:center;"><a class="btn btn-outline-info" routerLink="/ProductList">Back</a></div>
